<!DOCTYPE html>
<html>
<head>
    <title>Beercember 2017</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/css/milligram.css">
    <link rel="stylesheet" href="~/Content/css/page.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
    <link rel="stylesheet" href="https://milligram.github.io/styles/main.min.css">
</head>
<body>

    <main class="wrapper">
        <section class="container">

            <h2 class="topbanner">Beercember 2017</h2>

            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Brewery</th>
                        <th>Beer</th>
                        <th>ABV [%]</th>
                        <th>Untappd</th>
                    </tr>
                </thead>
                <tbody>
                    
                    @Each.Beers
                        <tr>
                            <td>@Current.CalendarDay</td>
                            <td>@Current.Brewery</td>
                            <td>@Current.Beer</td>
                            <td>@Current.Alcohol</td>
                            <td>
                                <a href="@Current.Href">Link</a>
                            </td>
                        </tr>
                    @EndEach

                </tbody>
            </table>


        </section>
    </main>

</body>
</html>
